@tailwind base;
@tailwind components;
@tailwind utilities;

/* Account for fixed website header when scrolling */
html {
  scroll-padding-top: 100px;
}

/* Hide number input spinner arrows */
.no-spin-arrows::-webkit-outer-spin-button,
.no-spin-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.no-spin-arrows[type=number] {
  -moz-appearance: textfield;
}


@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.animate-spin {
  animation: spin 1s linear infinite;
}
.animation-delay-75 {
  animation-delay: -0.75s;
}
.animation-delay-200 {
  animation-delay: -0.2s;
}