<link rel="stylesheet" href="/apps/shade_space/shadespace/bundle.css">
<div id="SHADE_SPACE"></div>
<script type="module" src="/apps/shade_space/shadespace/bundle.js" defer></script>

{% schema %}
{
  "name": "Shade Space",
  "target": "section"
}
{% endschema %}